div.mod_wow_armory_guild_news dl {
    clear: both;
}

div.mod_wow_armory_guild_news dd {
    float: left;
}

div.mod_wow_armory_guild_news dt {
    float: right;
}

div.mod_wow_armory_guild_news img {
    margin-right: 2px;
    margin-bottom: -2px;
}

div.mod_wow_armory_guild_news a.color-q {
    color: #FFD100;
}

div.mod_wow_armory_guild_news a.color-q0 {
    color: #9D9D9D !important;
}

div.mod_wow_armory_guild_news a.color-q1 {
    color: #ffffff !important;
}

div.mod_wow_armory_guild_news a.color-q2 {
    color: #00ff00 !important;
}

div.mod_wow_armory_guild_news a.color-q3 {
    color: #0070DD !important;
}

div.mod_wow_armory_guild_news a.color-q4 {
    color: #9F3FFF !important;
}

div.mod_wow_armory_guild_news a.color-q5 {
    color: #FF8400 !important;
}

div.mod_wow_armory_guild_news a.color-q6 {
    color: #E5CC80 !important;
}

div.mod_wow_armory_guild_news a.color-q8 {
    color: #71D5FF !important;
}

div.mod_wow_armory_guild_news a.color-q9 {
    color: #FFFF9A !important;
}