/* $Id$ */

div.mod_wow_armory_guild_news ul li{
    list-style-type: none;
    clear: both;
}

div.mod_wow_armory_guild_news dl {
    padding: 2px;
}
div.mod_wow_armory_guild_news dd {
    float: left;
}

div.mod_wow_armory_guild_news dt {
    display: inline;
    float: right;
}

div.mod_wow_armory_guild_news img {
    margin-right: 2px;
    margin-bottom: -2px;
}